{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "not Explorer < 11",
          "not ExplorerMobile > 0"
        ]
      }
    }],
    "react"
  ]
}
