{
  "presets": [
    ["@babel/preset-env", {
      // Uncomment to check browser query results when building.
      // "debug": true,

      // NOTE: the actual query is in package.json, so all tools (not just
      // Babel) can make use of it.
      // Preview the results a query at: https://browserl.ist/
      // "targets": "xyz"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["react-css-modules", {
      // for React Router NavLink
      "attributeNames": { "activeStyleName": "activeClassName" },
      "handleMissingStyleName": "warn"
    }]
  ]
}
