# Be careful with any write operations (mainly annotations) when using the
# production API (the default value below).
#
# When testing against your own local copy of web-monitoring-db (e.g. for write
# operations or different datasets), you should set that URL here. By default
# development copies of web-monitoring-db run at:
#     http://localhost:3000
# But you might set up your own development environment differently.
WEB_MONITORING_DB_URL=https://api.monitoring.envirodatagov.org

# Redirect all HTTP requests to https (you probably want this off in development)
# FORCE_SSL=true

# Don't force the user to log in before trying to browse. (Defaults to false)
# Make sure this is aligned with the the API you are connecting to in
# `WEB_MONITORING_DB_URL`! The API does not allow public users and you set this
# to `true`, you're gonna have a bad time: most requests will result in errors.
ALLOW_PUBLIC_VIEW='true'
