# The staging environment is currently out of commission, so we connect to the
# main production API for development and testing.
WEB_MONITORING_DB_URL=https://api.monitoring.envirodatagov.org

# Redirect all HTTP requests to https (you probably want this off in development)
# FORCE_SSL=true

# Don't force the user to log in before trying to browse. (Defaults to false)
# Make sure this is aligned with the the API you are connecting to in
# `WEB_MONITORING_DB_URL`! The API does not allow public users and you set this
# to `true`, you're gonna have a bad time: most requests will result in errors.
ALLOW_PUBLIC_VIEW='true'
