.form {
  width: 24em;
}

.title {
  margin: 0 0 1em;
}

.group {
  font-weight: 700;
  margin-bottom: 1em;
  width: 100%;
}

.footer {
  text-align: right;
}

/* .input copied and modified from Bootstrap's .form-control */
.input {
  display: block;
  width: 100%;
  height: 2.5em;
  padding: 0.5em 1em;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.input[disabled],
.input[readonly],
fieldset[disabled] .input {
  background-color: #eeeeee;
  opacity: 1;
}
