<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>web-monitoring-ui</title>

        <link rel="stylesheet" type="text/css"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/styles.css<%- useGzip ? '.gz' : '' %>"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            window.webMonitoringConfig = <%- JSON.stringify(configuration) %>;
        </script>
        <script src="https://use.fontawesome.com/2155f7b139.js"></script>
    </head>
    <body id="bootstrap-override">
        <div id="web-monitoring-ui-root"></div>

        <script type="text/javascript" src="/bundle.js<%- useGzip ? '.gz' : '' %>"></script>
    </body>
</html>
