<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Scanner</title>

        <link rel="stylesheet" type="text/css" href="/bundle.css<%- useGzip ? '.gz' : '' %>"/>
        <script type="text/javascript">
            window.webMonitoringConfig = <%- JSON.stringify(configuration) %>;
        </script>
        <script src="https://use.fontawesome.com/2155f7b139.js"></script>
    </head>
    <body>
        <div id="web-monitoring-ui-root"></div>

        <script type="text/javascript" src="/bundle.js<%- useGzip ? '.gz' : '' %>"></script>
    </body>
</html>
