version: 2.1

commands:
  setup_npm:
    description: "Set up NPM dependencies"
    steps:
      - restore_cache:
          keys:
            - dependency-cache-2-{{ checksum "package-lock.json" }}
            - dependency-cache-2-
      - run:
          name: Dependencies
          command: npm ci
      - save_cache:
          key: dependency-cache-2-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules

jobs:
  build:
    docker:
      - image: cimg/node:14.18.2
    steps:
      - checkout
      - setup_npm
      - run:
          name: Build
          command: npm run build-production
      - run:
          name: Check Bundle Size
          command: npm run bundlewatch

  test:
    docker:
      - image: cimg/node:14.18.2
    steps:
      - checkout
      - setup_npm
      - run:
          name: Lint Code
          command: npm run lint
      - run:
          name: Test
          command: npm test

  build_docker:
    machine: true
    steps:
      - checkout
      - run:
          name: Build Image
          command: |
            docker build -t envirodgi/ui:$CIRCLE_SHA1 .
      - run:
          name: Save Image
          command: |
            mkdir /tmp/workspace
            docker save --output /tmp/workspace/docker-image envirodgi/ui:$CIRCLE_SHA1
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - docker-image

  publish_docker:
    machine: true
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load Built Docker Image
          command: docker load --input /tmp/workspace/docker-image
      - run:
          name: Docker Login
          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run:
          name: Publish Images
          command: |
            docker image tag envirodgi/ui:${CIRCLE_SHA1} envirodgi/ui:latest
            docker push envirodgi/ui:${CIRCLE_SHA1}
            docker push envirodgi/ui:latest

workflows:
  build:
    jobs:
      - build:
          filters:
            branches:
              ignore: release
      - build_docker:
          filters:
            branches:
              ignore: release
      - test:
          filters:
            branches:
              ignore: release

  build-and-publish:
    jobs:
      - build:
          filters:
            branches:
              only:
                - release
      - build_docker:
          filters:
            branches:
              only:
                - release
      - publish_docker:
          requires:
            - build
            - build_docker
