.header {
  display: flex;
  margin: 0 -15px;
}

.header-section-title, .header-section-pager {
  padding: 0 15px;
}

.header-section-title {
  flex: 1 0 75%;
}

.header-section-pager {
  flex: 1 0 25%;
}

.page-details-main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 15px;
}

.page-title {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0.3em;
}

.pager {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
  flex: 1 0 auto;
}

.pager li {
  display: flex;
  flex: 1 0 50%;
}

.pager li > a:focus {
  text-decoration: none;
  background-color: #f7f7f7;
}

.pager li > a:hover {
  text-decoration: none;
  background-color: rgba(139, 227, 255, 0.46);
}

.pager-prev {
  margin-right: 5px;
}

.pager-prev .fa {
  margin-right: 0;
}

@media (max-width: 992px) {
  .header {
    flex-direction: column;
  }

  .header-section-title, .header-section-pager {
    flex: 1 0 auto;
  }
}
