.change-view {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.actions {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0 0.5em 0;
}

.action-btn {
  composes: btn from '../../css/base.css';
  composes: btn-link from '../../css/base.css';
  border: none;
  padding: 0;
  vertical-align: baseline;
}

.actions-section {
  padding: 0.7em 0.2em;
  flex: 0 0 auto;
}
