<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="#">LIST VIEW</a>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <table id="list_view" class="table">
                <thead></thead>
                <tbody></tbody>    
            </table>
        </div>
    </div>
    <script>

        // TODO: break into own module
        $(document).ready(function() {
            $.getJSON('./config.json', function(data) {
                let user = data["EDGI-WEB-MONITOR-USER"];
                let pass = data["EDGI-WEB-MONITOR-PASSWORD"];
                $.ajax({
                    type: "GET",
                    url: "https://web-monitoring-db.herokuapp.com/pages.json?page=1",
                    dataType: "json",
                    xhrFields: {
                        withCredentials: true
                    },
                    headers: {
                        'Authorization': 'Basic ' + btoa(`${user}:${pass}`)
                    },
                    success: function(result) {
                        // TODO: paginate through records
                        // Currently geting small subset to test
                        let pageSet = result.data.slice(0, 10); 
                        let table = $('#list_view');
                        let diff = $('#diff_view');

                        table.find('thead').append(getTableHeader());

                        pageSet.forEach(function(record) {
                            let row = getTableRow(record);
                            table.find('tbody').append(row);
                        })
                        console.log(data)
                    }
                })
            })
            
            function getTableHeader() {
                return $('<tr>')
                    .append(
                        $('<th>').text('ID'), //record.latest.id
                        $('<th>').text('Output Date'), //record.latest.updated_at
                        $('<th>').text('Site'), //record.site
                        $('<th>').text('Page Name'), //record.title
                        $('<th>').text('Url'),
                        $('<th>').text('Page View Url'),
                        $('<th>').text('Last Two'),
                        $('<th>').text('Latest to Base'));
            }

            function getTableRow(record) {
                let row = $('<tr>').append(
                    $('<td>').text(record.latest.id),
                    $('<td>').text(record.latest.updated_at),
                    $('<td>').text(record.site),
                    $('<td>').text(record.title),
                    $('<td>').html(`<a href="${record.url}">${record.url.substr(0, 20)}...</a>`),
                    $('<td>').html(`<a href="${record.versionista_url}">${record.versionista_url.substr(-15)}</a>`),
                    $('<td>').html(`<a href="${record.latest.diff_with_previous_url}">${record.latest.diff_with_previous_url.substr(-15)}</a>`),
                    $('<td>').html(`<a href="${record.latest.diff_with_first_url}">${record.latest.diff_with_first_url.substr(-15)}</a>`)
                );
                row.click(function() {
                    showDiffMetadata(record)
                    $('#update_record').data('record_info', {
                        'page_id': record.id,
                        'version_id': record.latest.id,
                        'annotations': {
                            'indiv_1': true
                        }
                    })
                    // diff.load(record.versionista_url);                    
                    // diff.attr('src', record.versionista_url)
                });

                return row;
            }

            function showDiffMetadata(record) {
                var index = record.latest.id|| 'No index';
                var title = record.title || 'No title';
                var url = record.url || 'No url';
                $('#diff_title').text(`${index} - ${title} : `);
                $('#diff_page_url').attr('href', `http://${url}`).text(`${url.substr(0, 40)}...`);

                // Magic numbers! Match with column indexes from google spreadsheet.
                // Hack because we don't get any type of metadata, just an array
                // for (var i = 15; i <= 32; i++) {
                //     $(`#cbox${i}`).prop('checked', data[i])
                // }
            }
        })
    </script>
</div>