<div class="container-fluid" id="container_list_view">
    <nav class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="#">LIST VIEW</a>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <table id="tbl_list_view" class="table">
                <thead></thead>
                <tbody></tbody>    
            </table>
        </div>
    </div>
    <script>
        // TODO: break into own module
        $(document).ready(function() {
            $('#lnk_view_list').click(toggleView);
            $('#lnk_toggle_view').click(toggleSignifierAbbreviations);

            $.getJSON('./config.json', function(data) {
                toggleProgressbar(true);
                let user = data["EDGI-WEB-MONITOR-USER"];
                let pass = data["EDGI-WEB-MONITOR-PASSWORD"];
                $.ajax({
                    type: "GET",
                    url: "https://web-monitoring-db.herokuapp.com/pages.json?page=1",
                    dataType: "json",
                    xhrFields: {
                        withCredentials: true
                    },
                    headers: {
                        'Authorization': 'Basic ' + btoa(`${user}:${pass}`)
                    },
                    success: function(result) {
                        // TODO: paginate through records
                        // Currently geting small subset to test
                        let pageSet = result.data.slice(0, 10); 
                        let table = $('#tbl_list_view');
                        let diff = $('#diff_view');

                        table.find('thead').append(getTableHeader());

                        pageSet.forEach(function(record) {
                            let row = getTableRow(record);
                            table.find('tbody').append(row);
                        })
                        toggleProgressbar(false);
                    }
                })
            })
            
            function getTableHeader() {
                return $('<tr>')
                    .append(
                        $('<th>').text('ID'), //record.latest.id
                        $('<th>').text('Output Date'), //record.latest.updated_at
                        $('<th>').text('Site'), //record.site
                        $('<th>').text('Page Name'), //record.title
                        $('<th>').text('Url'),
                        $('<th>').text('Page View Url'),
                        $('<th>').text('Last Two'),
                        $('<th>').text('Latest to Base'));
            }
            function getTableRow(record) {
                let row = $('<tr>').append(
                    $('<td>').text(record.latest.id),
                    $('<td>').text(record.latest.updated_at),
                    $('<td>').text(record.site),
                    $('<td>').text(record.title),
                    $('<td>').html(`<a href="https://${record.url}" target="_blank">${record.url.substr(0, 20)}...</a>`),
                    $('<td>').html(`<a href="${record.versionista_url}" target="_blank">${record.versionista_url.substr(-15)}</a>`),
                    $('<td>').html(`<a href="${record.latest.diff_with_previous_url}" target="_blank">${record.latest.diff_with_previous_url.substr(-15)}</a>`),
                    $('<td>').html(`<a href="${record.latest.diff_with_first_url}" target="_blank">${record.latest.diff_with_first_url.substr(-15)}</a>`)
                );
                row.click(function() {
                    let page_id = record.id,
                        version_id = record.latest.id;
                    
                    toggleView();
                    showDiffMetadata(record);
                    $('#lnk_last_two_diff').attr('href', record.latest.diff_with_previous_url);
                    $('#lnk_last_to_base_diff').attr('href', record.latest.diff_with_first_url);

                    $('#lnk_update_record').off('click').on('click', function() {
                        let annotations = {};
                        // Build up annotations object
                        $('#inspectorView input[type="checkbox"]').each(function(chkbox) {
                            annotations[this.id] = this.checked;
                        })
                        update(page_id, version_id, annotations);
                    })
                });

                return row;
            }
            function update(page_id, version_id, annotations) {
                //TODO: Need some sort of user login
                $.getJSON('./config.json', function(data) {
                    let user = data["EDGI-WEB-MONITOR-USER"];
                    let pass = data["EDGI-WEB-MONITOR-PASSWORD"];
                    $.ajax({    
                        type: "POST",
                        url: `https://web-monitoring-db.herokuapp.com/pages/${page_id}/versions/${version_id}/annotations.json`,
                        dataType: "json",
                        xhrFields: {
                            withCredentials: true
                        },
                        headers: {
                            'Authorization': 'Basic ' + btoa(`${user}:${pass}`)
                        },
                        data: JSON.stringify(annotations),
                        success: function(result) {
                            alert('updated')
                        }
                    })
                })
            }
            function showDiffMetadata(record) {
                let page_id = record.id,
                    version_id = record.latest.id|| 'No index',
                    title = record.title || 'No title',
                    url = record.url || 'No url';
                $('#diff_title').text(`${version_id} - ${title} : `);
                $('#diff_page_url').attr('href', `https://${url}`).text(`${url.substr(0, 40)}...`).attr('target', '_blank');

                $.ajax({
                    cache: false,
                    url: `https://web-monitoring-db.herokuapp.com/pages/${page_id}/versions/${version_id}`,
                    dataType: "json",
                    success: function(data) {
                        let current_annotation = data.data.current_annotation;
                        if (Object.keys(current_annotation).length > 0) {
                            Object.keys(current_annotation).forEach(function(key) {
                                $(`#${key}`).prop('checked', current_annotation[key]);                                
                            });
                        } else {
                            $('#inspectorView input[type="checkbox"]').each(function() {
                                $(this).prop('checked', false);
                            })
                        }
                    }
                });               
            }
            function toggleView() {
                $('#container_list_view').toggle();
                $('#container_page_view').toggle();
            }
            function toggleProgressbar(isVisible) {
                if(isVisible) {
                    $('.progress').show();
                } else {
                    $('.progress').hide();
                }
            }

            function toggleSignifierAbbreviations(e) {
                e.preventDefault();
                $('.info-text').toggle();
                $('#inspectorView').toggleClass('short-view');
            }
        })
    </script>
</div>