

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="navbar-text">
                                <span id="diff_title"></span>
                                <a id="diff_page_url" href="#"></a>
                            </p>                            
                        </div>
                        <div class="col-md-4">
                            <nav aria-label="...">
                                <ul class="pager">
                                    <li><a href="#" id="prev_index">Previous</a></li>
                                    <li><a href="#" id="next_index">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a id="toggle_view" href="#">Toggle View</a>
                        </div>
                    </div>
                    <% include tools.ejs %>
                </div>
            </nav>
        </div>
    </div>
</div> <!-- END container-fluid -->