<div class="container-fluid" id="container_page_view">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="navbar-text">
                                <span id="diff_title"></span>
                                <a id="diff_page_url" href="#"></a>
                            </p>                            
                        </div>
                        <div class="col-md-4">
                            <nav aria-label="...">
                                <ul class="pager">
                                    <li><a href="#" id="prev_index">Previous</a></li>
                                    <li><a href="#" id="next_index">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a id="lnk_toggle_view" href="#">Toggle View</a> || 
                            <a id="lnk_update_record" href="#">Update Record</a> ||
                            <a id="lnk_view_list" href="#">Back to list view</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a id="lnk_last_two_diff" href="#" target="_blank" rel="noopener">Last two diff </a> || 
                            <a id="lnk_last_to_base_diff" href="#" target="_blank" rel="noopener">Last to base diff</a>
                        </div>
                    </div>
                    <% include tools.ejs %>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="diff_view" srcdoc="Diff view should go here with different modes and such" height="200"></iframe>
        </div>
    </div>
</div> <!-- END container-fluid -->