<div class="row short-view" id="inspectorView">
    <!-- Checkbox ID's are named to coincide with array indexes from google spreadsheet -->
    <div class="col-md-4">
        <h4>Individual Page Changes</h4>
        <label><input type="checkbox" id="cbox_indiv_1">1 <span class="info-text">= Date and time change only</span></label>
        <label><input type="checkbox" id="cbox_indiv_2">2 <span class="info-text">= Text or numeric content removal or change</span></label>
        <label><input type="checkbox" id="cbox_indiv_3">3 <span class="info-text">= Image content removal or change</span></label>
        <label><input type="checkbox" id="cbox_indiv_4">4 <span class="info-text">= Hyperlink removal or change</span></label>
        <label><input type="checkbox" id="cbox_indiv_5">5 <span class="info-text">= Text-box, entry field, or interactive component removal or change</span></label>
        <label><input type="checkbox" id="cbox_indiv_6">6 <span class="info-text">= Page removal (whether it has happened in the past or is currently removed)</span></label>
    </div>
    <div class="col-md-4">
        <h4>Repeated Changes</h4>
        <label><input type="checkbox" id="cbox_repeat_7">7 <span class="info-text">= Header menu removal or change</span></label>
        <label><input type="checkbox" id="cbox_repeat_8">8 <span class="info-text">= Template text, page format, or comment field removal or change</span></label>
        <label><input type="checkbox" id="cbox_repeat_9">9 <span class="info-text">= Footer or site map removal or change</span></label>
        <label><input type="checkbox" id="cbox_repeat_10">10 <span class="info-text">= Sidebar removal or change</span></label>
        <label><input type="checkbox" id="cbox_repeat_11">11 <span class="info-text">= Banner/advertisement removal or change</span></label>
        <label><input type="checkbox" id="cbox_repeat_12">12 <span class="info-text">= Scrolling news/reports</span></label>
    </div>
    <div class="col-md-4">
        <h4>Significance</h4>
        <label><input type="checkbox" id="cbox_sig_1">1 <span class="info-text">= Change related to energy, environment, or climate</span></label>
        <label><input type="checkbox" id="cbox_sig_2">2 <span class="info-text">= Language is significantly altered</span></label>
        <label><input type="checkbox" id="cbox_sig_3">3 <span class="info-text">= Content is removed</span></label>
        <label><input type="checkbox" id="cbox_sig_4">4 <span class="info-text">= Page is removed</span></label>
        <label><input type="checkbox" id="cbox_sig_5">5 <span class="info-text">= Insignificant</span></label>
        <label><input type="checkbox" id="cbox_sig_6">6 <span class="info-text">= Repeated Insignificant</span></label>
    </div>
</div>
