<div class="row short-view" id="inspectorView">
    <!-- Checkbox ID's are named to coincide with array indexes from google spreadsheet -->
    <div class="col-md-4">
        <h4>Individual Page Changes</h4>
        <label><input type="checkbox" id="cbox15">1 <span class="info-text">= Date and time change only</span></label>
        <label><input type="checkbox" id="cbox16">2 <span class="info-text">= Text or numeric content removal or change</span></label>
        <label><input type="checkbox" id="cbox17">3 <span class="info-text">= Image content removal or change</span></label>
        <label><input type="checkbox" id="cbox18">4 <span class="info-text">= Hyperlink removal or change</span></label>
        <label><input type="checkbox" id="cbox19">5 <span class="info-text">= Text-box, entry field, or interactive component removal or change</span></label>
        <label><input type="checkbox" id="cbox20">6 <span class="info-text">= Page removal (whether it has happened in the past or is currently removed)</span></label>
    </div>
    <div class="col-md-4">
        <h4>Repeated Changes</h4>
        <label><input type="checkbox" id="cbox21">7 <span class="info-text">= Header menu removal or change</span></label>
        <label><input type="checkbox" id="cbox22">8 <span class="info-text">= Template text, page format, or comment field removal or change</span></label>
        <label><input type="checkbox" id="cbox23">9 <span class="info-text">= Footer or site map removal or change</span></label>
        <label><input type="checkbox" id="cbox24">10 <span class="info-text">= Sidebar removal or change</span></label>
        <label><input type="checkbox" id="cbox25">11 <span class="info-text">= Banner/advertisement removal or change</span></label>
        <label><input type="checkbox" id="cbox26">12 <span class="info-text">= Scrolling news/reports</span></label>
    </div>
    <div class="col-md-4">
        <h4>Significance</h4>
        <label><input type="checkbox" id="cbox27">1 <span class="info-text">= Change related to energy, environment, or climate</span></label>
        <label><input type="checkbox" id="cbox28">2 <span class="info-text">= Language is significantly altered</span></label>
        <label><input type="checkbox" id="cbox29">3 <span class="info-text">= Content is removed</span></label>
        <label><input type="checkbox" id="cbox30">4 <span class="info-text">= Page is removed</span></label>
        <label><input type="checkbox" id="cbox31">5 <span class="info-text">= Insignificant</span></label>
        <label><input type="checkbox" id="cbox32">6 <span class="info-text">= Repeated Insignificant</span></label>
    </div>
</div>
