.page-list {
  table-layout: fixed;
}

.page-list > tbody > tr {
  cursor: pointer;
}

.page-list > tbody > tr:hover {
  background-color: #eee;
}

.page-list > tbody > tr > td {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.page-list > tbody > tr > th[data-name="capture-date"] {
  width: 12%;
}

.page-list > tbody > tr > th[data-name="site"] {
  width: 15%;
}

.page-list > tbody > tr > th[data-name="page-name"] {
  width: 33%;
}

.page-list > tbody > tr > th[data-name="url"] {
  width: 40%;
}
