.list-alert {
  composes: alert from '../../css/base.css';
  margin-top: 1em;
}

.alert-danger {
  composes: list-alert;
  composes: alert-danger from '../../css/base.css';
}

.alert-warning {
  composes: list-alert;
  composes: alert-warning from '../../css/base.css';
}

.container {
  padding: 0 15px;
}

.page-list {
  table-layout: fixed;
}

.page-list > tbody > tr {
  cursor: pointer;
}

.page-list > tbody > tr:hover {
  background-color: #eee;
}

.page-list > tbody > tr > td {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.page-list > tbody > tr > th[data-name="capture-date"] {
  width: 12%;
}

.page-list > tbody > tr > th[data-name="site"] {
  width: 15%;
}

.page-list > tbody > tr > th[data-name="page-name"] {
  width: 33%;
}

.page-list > tbody > tr > th[data-name="url"] {
  width: 40%;
}

/* .table styles copied from bootstrap */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}
