.environment-banner-section {
    color: #333;
}

.environment-banner-title {
    display: inline-block;
    margin: 10px 0;
}

.environment-banner-close-x {
    float: right;
    margin: 10px;
}

.environment-banner-close-x:hover {
    cursor: pointer;
}