del {
    background-color: lightcoral !important;
}
ins {
    background-color: lightgreen !important;
}

.side-by-side-render {
    display: flex;
}

.side-by-side-render > iframe {
    border: 1px solid #ccc;
    border-radius: 2px;
    min-height: 40em;
    width: 100%;
}

.side-by-side-render > iframe:first-child {
    margin-right: 0.5em;
}

.diff-source-inline {
    background: #eee;
    border: 1px solid #ccc;
    font-family: monospace;
    overflow: auto;
    padding: 1em;
    white-space: pre;
}

.diff-text-inline {
    background: #eee;
    border: 1px solid #ccc;
    padding: 1em;
    white-space: pre-wrap;
}
