@import './diff.css';

/* ===== Global ===== */
body {
    background: #136a8a;
    background: linear-gradient(45deg, #136a8a, #267871);
}

/* ===== Containers ===== */
.container-list-view, .container-page-view {
    background: white;
    border-radius: 3px;
    color: #444;
    margin: 0 20px;
}

.container-page-view {
    padding: 20px;
}

/* ===== Nav Bar ===== */
#bootstrap-override .navbar-brand {
    font-size: 1.4em;
    margin-right: 6px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}

#bootstrap-override .navbar-inverse,
#bootstrap-override .navbar-inverse a,
#bootstrap-override .navbar-brand:hover {
    color: #EEE;
}

.navbar {
    border-radius: 0;
    padding: 10px;
}

.navbar-text {
    font-size: 2.2rem;
}

.navbar .auth-status {
    border: none;
    display: block;
    line-height: 20px;
    padding: 15px;
}

.navbar .auth-status button {
    display: inline;
    padding: 0;
    line-height: inherit;
    border: none;
    margin: 0;
}

/* ===== List View ===== */
.container-list-view tbody tr {
    cursor: pointer;
}

.container-list-view tbody tr:hover {
    background-color: #EEE;
}

/* ===== Page Detail View ===== */
.page-title {
    font-size: 20px;
}

.pager {
    margin: 10px 0;
}
.pager li > a {
    background-color: #f7f7f7;
    border-radius: 3px;
}

#bootstrap-override .pager li>a:focus {
    background-color: #f7f7f7;
}

#bootstrap-override .pager li>a:hover {
    background-color: rgba(139, 227, 255, 0.46);
}

.pager__previous {
    width: 50%;
}

.pager__next {
    width: 48%;
}

/* ===== Annotation Form ===== */
.lnk-action {
    margin-right: 17px;
}

.annotation-form {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Toggle buttons */
.signifier-list, .signifier-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.signifier-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signifier-list-item {
  margin-right: 10px;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 3.5em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #888;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
  background: #888;
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  background: #86d993;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}
/* END - Toggle buttons */

/*.annotation-form input[type="checkbox"] {
    cursor: pointer;
    margin-right: 7px;
}*/

/*.annotation-form label {
    display: block;
    font-weight: 200;
    font-size: 1.4rem;
    cursor: pointer;
}*/

/*.annotation-form--collapsed .info-text {
    display: none;
}

.annotation-form--collapsed label {
    float: left;
    margin-right: 25px;
}*/

@media (max-width: 990px) {
    .annotation-form--collapsed div {
        clear: both;
        overflow: auto;
    }
}

/* ===== Diff View ===== */
.diff {
    height:100vh;
}

iframe {
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
}

del {
    background-color: lightcoral;
}
ins {
    background-color: lightgreen;
}

/* ===== Progress Bar ===== */
.progress {
    width: 100%;
}

.progress .progress-bar.active {
    font-weight: 700;
    animation: progress-bar-stripes .5s linear infinite;
}

.dotdotdot:after {
    font-weight: 300;
    content: '...';
    display: inline-block;
    width: 20px;
    text-align: left;
    animation: dotdotdot 1.5s linear infinite;
}

@keyframes dotdotdot {
    0%   { content: '...'; }
    25% { content: ''; }
    50% { content: '.'; }
    75% { content: '..'; }
}

/* ===== Login Form ===== */
.dialog__body {
    background: white;
    border-radius: 3px;
    padding: 1em;
}

.login-form {
    width: 24em;
}

.login-form h1 {
    margin: 0 0 1em;
}

.login-form .form-group {
    width: 100%;
}

.login-form__footer {
    text-align: right;
}

.version-selector {
    display: flex;
}

.version-selector__item {
    font-weight: normal;
    margin-right: 2em;
}

.version-selector__item > span {
    font-weight: bold;
    margin-right: 0.5em;
}
