@import './diff.css';

body {
    background: #136a8a;
    background: linear-gradient(45deg, #136a8a, #267871);
}

.container-list-view, .container-page-view {
    background: white;
    border-radius: 3px;
    color: #444;
    margin: 0 20px;
}

.container-page-view {
    padding: 20px;
}

.lnk-action {
    margin-right: 17px;
}

#bootstrap-override .navbar-brand {
    font-size: 1.4em;
    margin-right: 6px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}

#bootstrap-override .navbar-inverse,
#bootstrap-override .navbar-inverse a,
#bootstrap-override .navbar-brand:hover {
    color: #EEE;
}

.navbar {
    border-radius: 0;
    padding: 10px;
}

.navbar-text {
    font-size: 2.2rem;
}

.navbar .auth-status {
    border: none;
    display: block;
    line-height: 20px;
    padding: 15px;
}

.navbar .auth-status button {
    display: inline;
    padding: 0;
    line-height: inherit;
    border: none;
    margin: 0;
}

.diff-title {
    font-size: 20px;
}

.pager {
    margin: 10px 0;
}
.pager li > a {
    background-color: #f7f7f7;
    border-radius: 3px;
}

#bootstrap-override .pager li>a:focus {
    background-color: #f7f7f7;
}

#bootstrap-override .pager li>a:hover {
    background-color: rgba(139, 227, 255, 0.46);
}



.annotation-form {
    margin-bottom: 10px;
    margin-top: 10px;
}

.annotation-form input[type="checkbox"] {
    cursor: pointer;
    margin-right: 7px;
}

.annotation-form label {
    display: block;
    font-weight: 200;
    font-size: 1.4rem;
    cursor: pointer;
}

.annotation-form--collapsed .info-text {
    display: none;
}

.annotation-form--collapsed label {
    float: left;
    margin-right: 25px;
}

@media (max-width: 990px) {
    .annotation-form--collapsed div {
        clear: both;
        overflow: auto;
    }
}

.container-list-view tbody tr {
    cursor: pointer;
}

.container-list-view tbody tr:hover {
    background-color: #EEE;
}

.pager__previous {
    width: 50%;
}

.pager__next {
    width: 48%;
}

.diff {
    height:100vh;
}

iframe {
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
}

.progress {
    width: 100%;
}

.modal-header {
    background: linear-gradient(45deg, #136a8a, #267871);
    color: white;
}

.close {
    opacity: .4;
}

.close:focus, .close:hover {
    opacity: .7;
}

.progress .progress-bar.active {
    font-weight: 700;
    animation: progress-bar-stripes .5s linear infinite;
}

.dotdotdot:after {
    font-weight: 300;
    content: '...';
    display: inline-block;
    width: 20px;
    text-align: left;
    animation: dotdotdot 1.5s linear infinite;
}

@keyframes dotdotdot {
    0%   { content: '...'; }
    25% { content: ''; }
    50% { content: '.'; }
    75% { content: '..'; }
}

del {
    background-color: lightcoral;
}
ins {
    background-color: lightgreen;
}

.dialog__body {
    background: white;
    border-radius: 3px;
    padding: 1em;
}

.login-form {
    width: 24em;
}

.login-form h1 {
    margin: 0 0 1em;
}

.login-form .form-group {
    width: 100%;
}

.login-form__footer {
    text-align: right;
}

.version-selector {
    display: flex;
    margin: 0.5em 0 0.1em;
}

.version-selector__item {
    font-weight: normal;
    margin-right: 2em;
}

.version-selector__item > span {
    font-weight: bold;
    margin-right: 0.5em;
}

.version-selector > button {
    padding: 0;
    margin-bottom: 5px;
}

.version-timeline-selector {}

.version-timeline-selector__list {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0 0 1em;
    flex-direction: row-reverse;
    overflow: auto;
    position: relative;
}

.version-timeline-selector__list::before {
    background: #aaa;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    right: 1em;
    top: calc(50% - 2px - 0.5em);
}

.version-timeline-selector__list > li {
    background: white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: block;
    position: relative;
    flex: 0 0 auto;
    border: 2px solid #aaa;
    margin: 1em;
}

.version-timeline-selector__list > li.error-version {
    border: none;
    width: 1.5em;
    height: 1.5em;
}

.version-timeline-selector__list > li.error-version::before {
    content: '!';
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 1.5em;
    color: #999;
}

.version-timeline-selector__list > li.selected {
    border: 3px solid #66aaff;
}

.version-timeline-selector__list > li.provisionally-selected {
    border: 3px dashed #66aaff;
}

.version-timeline-selector__label {
    color: #666;
    position: absolute;
    bottom: -1.6em;
    left: -1em;
    right: -1em;text-align: center;
}
