<div class="row" id="inspectorView">
    <!-- Checkbox ID's are named to coincide with array indexes from google spreadsheet -->
    <div class="col-md-4">
        <h4>Individual Page Changes</h4>
        <label><input type="checkbox" id="cbox15"> Date and time change only</label><br>
        <label><input type="checkbox" id="cbox16"> Text or numeric content removal or change</label><br>
        <label><input type="checkbox" id="cbox17"> Image content removal or change</label><br>
        <label><input type="checkbox" id="cbox18"> Hyperlink removal or change</label><br>
        <label><input type="checkbox" id="cbox19"> Text-box, entry field, or interactive component removal or change</label><br>
        <label><input type="checkbox" id="cbox20"> Page removal (whether it has happened in the past or is currently removed)</label><br>
    </div>
    <div class="col-md-4">
        <h4>Repeated Changes</h4>
        <label><input type="checkbox" id="cbox21"> Header menu removal or change</label><br>
        <label><input type="checkbox" id="cbox22"> Template text, page format, or comment field removal or change</label><br>
        <label><input type="checkbox" id="cbox23"> Footer or site map removal or change</label><br>
        <label><input type="checkbox" id="cbox24"> Sidebar removal or change</label><br>
        <label><input type="checkbox" id="cbox25"> Banner/advertisement removal or change</label><br>
        <label><input type="checkbox" id="cbox26"> Scrolling news/reports</label><br>
    </div>
    <div class="col-md-4">
        <h4>Significance</h4>
        <label><input type="checkbox" id="cbox27"> Change related to energy, environment, or climate</label><br>
        <label><input type="checkbox" id="cbox28"> Language is significantly altered</label><br>
        <label><input type="checkbox" id="cbox29"> Content is removed</label><br>
        <label><input type="checkbox" id="cbox30"> Page is removed</label><br>
        <label><input type="checkbox" id="cbox31"> Insignificant</label><br>
        <label><input type="checkbox" id="cbox32"> Repeated Insignificant</label><br>
    </div>
</div>
